<style>
    table, th, td {
      border:1px solid black;
    }
</style>
<h2>Olympic Games App</h2>
<hr />
<p>{{ (olympics$ | async)?.length }} data loaded</p>

<div *ngIf="(olympics$ | async) as olympics; else loading"> <!-- pourquoi on a besoin de cette ligne ??-->
  <div style="position: relative; width: 100%; max-width: 900px; margin: auto;">
    <canvas baseChart 
      [data]="pieChartData"
      [options]="pieChartOptions"
      [type]="'pie'">
    </canvas>
  </div> 

  <div *ngFor="let olympic of olympics">
    <h3>Pays: {{ olympic.country }}</h3>
    <p>Participations: </p>
    <div *ngFor="let participation of olympic.participations">
        <div>
            <table>
                    <tr>
                        <th>Year</th>
                        <th>City</th>
                        <th>medalsCount</th>
                        <th>athleteCount</th>
                    </tr>
                    <tr>
                        <td>{{participation.year}}</td>
                        <td>{{participation.city}}</td>
                        <td>{{participation.medalsCount}}</td>
                        <td>{{participation.athleteCount}}</td>
                    </tr>
            </table>    
        </div>
        
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading data...</p>
</ng-template>
